[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
jinja2 = "*"
pytest = "*"
singleton-decorator = "*"
python-decouple = "*"
flask-sqlalchemy = "*"
alembic = "*"
postgres = "*"

[requires]
python_version = "3.8"
